@model MvcApplication2.Models.ClosetModel

<link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css" type="text/css"/>
<script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src= "Scripts/View-Data.js" ></script>

@using (Html.BeginForm()) 
{
     <table style="width:100%;height:100%;border:hidden">
            <tr>
                <td style="border:hidden;vertical-align:top">
                    <img src="@Url.Content("~/Images/autodesklogo.png")"/>
                </td>
                <td style="margin: 0;padding: 0;width:100%;height:100%;border:hidden;">
                   <h1>Make your closet</h1>
                </td>
            </tr>
        </table>
    
    <div style="width: 100%;height: 100%">
        <table style="width:100%;height:100%;border:hidden">
            <tr>
                <td style="border:hidden">
                    <fieldset>
                        <div class="editor-label">
                                @Html.LabelFor(m => m.Width)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Width)
                            @Html.ValidationMessageFor(m => m.Width)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Depth)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Depth)
                            @Html.ValidationMessageFor(m => m.Depth)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Height)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Height)
                            @Html.ValidationMessageFor(m => m.Height)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.DoorHeightPercentage)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.DoorHeightPercentage)
                            @Html.ValidationMessageFor(m => m.DoorHeightPercentage)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.PlyThickness)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.PlyThickness)
                            @Html.ValidationMessageFor(m => m.PlyThickness)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.NumberOfDrawers)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.NumberOfDrawers)
                            @Html.ValidationMessageFor(m => m.NumberOfDrawers)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.IsSplitDrawers)
                        </div>
                        <div class="editor-field">
                            <label class="editor-label">@Html.RadioButtonFor(m => m.IsSplitDrawers, "Yes")Yes</label>
                            <label class="editor-label">@Html.RadioButtonFor(m => m.IsSplitDrawers, "No")No</label>
                            @Html.ValidationMessageFor(m => m.IsSplitDrawers)
                        </div>

                        <div class="editor-field">
                            @Html.HiddenFor(m => m.AccessToken, new {id = "AccessTokenFld"})
                        </div>

                        <div class="editor-field">
                            @Html.HiddenFor(m => m.ViewerURN, new {id = "ViewerURNFld"})
                        </div>

                            <p>
                            <input type="submit" name="Command" value="Preview"  onclick="busy()" style="border-radius: 10px;background-color:cyan"/>
                        </p>
                        
                        <div class="editor-label">
                            @Html.LabelFor(m => m.EmailAddress)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.EmailAddress)
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>

                        <p>
                            <input type="submit" name="Command" value="Send Email" onclick="busy()" style="border-radius: 10px;background-color:cyan"/>
                        </p>
                    </fieldset>
                </td>
                <td style="margin: 0;padding: 0;width:100%;height:100%;border:hidden">
                    <div id="3dViewDiv" style="border-style: solid;position: relative; top: 0px;left: 0px; width:100%; height:100%">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="szlider">
        <div id="szliderbar" style="width:0%;height:15px;border-right: 1px solid #000000;">
        </div>
        <div id="szazalek">
        </div>
    </div>
    
    <div style="width:100%;align-content:center;text-align:center">
        <label style="color:blue;text-align:center;align-content:center">@ViewBag.Message</label>
    </div>
       
}