@model MvcApplication2.Models.ClosetModel

<link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css" type="text/css"/>
<script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src= "Scripts/View-Data.js" ></script>

@using (Html.BeginForm()) 
{
    <div>
        <fieldset>
            <table style="width:25%">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Width)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Width)
                            @Html.ValidationMessageFor(m => m.Width)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Depth)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Depth)
                            @Html.ValidationMessageFor(m => m.Depth)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Height)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Height)
                            @Html.ValidationMessageFor(m => m.Height)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.DoorHeightPercentage)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.DoorHeightPercentage)
                            @Html.ValidationMessageFor(m => m.DoorHeightPercentage)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.PlyThickness)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.PlyThickness)
                            @Html.ValidationMessageFor(m => m.PlyThickness)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.NumberOfDrawers)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.NumberOfDrawers)
                            @Html.ValidationMessageFor(m => m.NumberOfDrawers)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.IsSplitDrawers)
                        </div>
                        <div class="editor-field">
                            @Html.CheckBoxFor(m => m.IsSplitDrawers)
                            @Html.ValidationMessageFor(m => m.IsSplitDrawers)
                        </div>

                        <div class="editor-field">
                            @Html.HiddenFor(m => m.AccessToken, new {id = "AccessTokenFld"})
                        </div>

                        <div class="editor-field">
                            @Html.HiddenFor(m => m.ViewerURN, new {id = "ViewerURNFld"})
                        </div>

                         <p>
                            <input type="submit" name="Command" value="Preview"  onclick="busy()"/>
                        </p>


                        <div class="editor-label">
                            @Html.LabelFor(m => m.EmailAddress)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.EmailAddress)
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>

                        <p>
                            <input type="submit" name="Command" value="Send Email" onclick="busy()"/>
                        </p>
                    </td>
                    <td>
                        <div id="3dViewDiv" class="dropdiv">
                        </div>
                    </td>
                 </tr>
            </table>
        </fieldset>
    </div>
    
    <div id="szlider">
        <div id="szliderbar">
        </div>
        <div id="szazalek">
        </div>
    </div>
}